anyio==3.3.4
asgiref==3.4.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
black==21.10b0
cfgv==3.3.1
click==8.0.3
decorator==5.1.0
distlib==0.3.3
fastapi==0.70.0
filelock==3.3.2
flake8==4.0.1
h11==0.12.0
httptools==0.2.0
identify==2.3.5
idna==3.3
ipython==7.29.0
jedi==0.18.0
marshmallow==3.14.1
matplotlib-inline==0.1.3
mccabe==0.6.1
motor==2.5.1
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.2
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
prompt-toolkit==3.0.22
ptyprocess==0.7.0
py==1.11.0
pycodestyle==2.8.0
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.10.0
pymongo==3.12.1
pyparsing==2.4.7
python-dotenv==0.19.2
PyYAML==6.0
regex==2021.11.10
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
structlog==21.2.0
toml==0.10.2
tomli==1.2.2
tox==3.24.4
traitlets==5.1.1
typing-extensions==3.10.0.2
umongo==3.0.1
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.10.0
watchgod==0.7
wcwidth==0.2.5
websockets==10.0
